/*-------------------------------------------PAGE INDEX------------------------------------------------------*/

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.Destinations{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.ImagesDestinations{
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}

#panier{
    position: relative;
    background-color: rgb(194, 186, 186);
    border: black,solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 5%;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    color: black;
    text-decoration: none;
}
#video{
    right: 50%;
    position: absolute;
    width: 50%;
    background-color: rgb(255, 253, 253);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    color: rgb(19, 59, 236);
    cursor: pointer;
    text-align: center;
}

#panier:hover{
    background-color: rgb(139, 132, 50);
    opacity: 0.8;
    text-decoration : none;
}
.ImagesDestinations:hover #reserver{
    bottom : 163px;
    opacity: 0.8;
    padding : 10px;
    text-decoration : none;
}
.ImagesDestinations:hover #video{
    bottom : 163px;
    opacity: 0.8;
    padding : 10px;
    text-decoration : none;
}
#reserver{
    position: absolute;
    width: 50%;
    background-color: rgb(255, 253, 253);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    color: rgb(19, 59, 236);
    cursor: pointer;
    text-align: center;
    float: right;
}


/*------------------PAGE PANIER --------------------------------*/

.produits-container{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;

    
}
.produits-container ion-icon{
    font-size: 25px;
    color: blue;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.produits-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid gainsboro;
    margin : 0 auto ;

}

.titre-produits{
    width: 55%;
    text-align: center;
    flex-shrink: 0;
}

div.prix{
    width: 15%;
    border-bottom: 1px solid gainsboro;
    display: flex;
    align-items: center;
}

div.total{
    width: 10%;
    border-bottom: 1px solid gainsboro;
    display: flex;
    align-items: center;
}

div.quantite{
    width: 20%;
    border-bottom: 1px solid gainsboro;
    display: flex;
    align-items: center;
}

div.produit{
    width : 55%;
}
.prix{
    width: 15%;
    display: flex;
    align-items: center;
    
}

.total{
    width: 10%;
    display: flex;
    align-items: center;
}

.quantite{
    width: 20%;
    display: flex;
    align-items: center;
}

.produits{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.produit{
    width : 45% ;
    display : flex;
    justify-self: space-around ;
    align-self: center;
    padding: 10px 0;
    border-bottom: 1px solid gainsboro;
}

.produit ion-icon{
    cursor: pointer;
    
}

.produits img{
    width: 200px;
    height: 125px;
}

.totalContenuPanier{
    width : 100% ;
    display : flex;
    justify-content: flex-end ;
    padding: 10px 0;
   
}

.produitTexte{
    width: 100px;
    height: 125px;
    display: flex;
    text-align: center;
    align-items: center;
}

.panierTotalTitre{
    width: 30%;

}
.panierTotal{
    width: 10%;
}

.recap{
    padding : 15px;
    border-color: red;
    border-radius: 5px;

}

.recapTitle{
    font-size: 20px;

}

.recapInfosUser label{
    margin-bottom: 20px;
    display: block;
}

.produitReservation img{
    width: 200px;
    height: 125px;
    
}
.produitReservation{
    text-align: center;
}
#infosUserReservation{
    margin-right: 10%;
}

.coeur{
    display :grid;
    grid-template-columns: 50% 50%;
}

#infosVoyageReserver{
    text-align: center;
}

.recapCommande{
    margin-left: 10%;
    border:solid 3px red;
    margin-top: 1%;
    border-radius: 5px;
    width: 89%;
    height: fit-content;
}

.nomVoyage{
    margin-bottom: 20px;
    border-bottom: black solid 3px;
    border-radius: 10px;
}